/* CSS DEL LOGIN  y registro*/

.container-main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

/* Contenedor específico para el login */
.container-form-login {
  max-width: 450px;           /* Ancho máximo igual al del registro */
  width: 450px;               /* Fuerza el ancho fijo */
  background: #afb8dc;
  background: linear-gradient(0deg, rgb(192, 207, 221) 0%, rgb(162, 177, 195) 100%);
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(124, 147, 158, 0.878) 0px 30px 30px -20px;
  margin: 20px;
}
.container-form {
  max-width: 450px;
  background: #afb8dc;
  background: linear-gradient(0deg, rgb(192, 207, 221) 0%, rgb(162, 177, 195) 100%);
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(124, 147, 158, 0.878) 0px 30px 30px -20px;
  margin: 20px;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(6, 59, 74);
}

.form {
  margin-top: 20px;
}

.form .input {
  width: 90%;
  background: white;
  color:#000;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #78939f 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .input::placeholder {
  color: rgb(170, 170, 170);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #12B1D1;
}

.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.title{
  color: rgb(101, 100, 100);
  text-decoration: none;
}

.title:hover{
  color: rgb(27, 76, 76);
}
.icon-input{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.icon{
  color: black;
  font-size: 20px;
}
.icon-input .input{
  width: 100%;
}
/* FLECHA DE REGRESO */
.back-button {
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #444a4d;
}
.back{
  width: 100%;
  text-align: left;
}